* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #d0d0d0;
    --secondary: #ab2222;
}

html {
    font-size: calc(100vw / 1920 * 10)
}

body {
    font-family: "Manrope";
    background-color: var(--primary);
    color: var(--secondary);
}

h1 {
    font-size: 12rem;

}

h2 {
    font-size: 6.4rem;
}

span {
    font-size: 3.2rem;
    display: inline-block;
}

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    mix-blend-mode: difference;
    width: 100%;
    padding: 2vw;
    margin-right: 1.2vw;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    color: white;
}

header span {
    font-size: 1.2vw;
    font-size: 500;
    text-transform: uppercase;
    letter-spacing: 0.1vw;
}

.intro {
    position: relative;
    height: 80vh;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
    justify-content: center;
}

.intro h1 {
    line-height: 100%;
}

.intro h1:nth-child(1) {
    padding-left: 32rem;
}

.intro h1:nth-child(4) {
    padding-left: 48rem;
}

.intro h1:nth-child(1) {
    padding-left: 12rem;
}

.motion_showcase {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.motion_block {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: inherit;
    z-index: 20;
}

.motion_block:nth-child(1) {
    z-index: 3;
}

.motion_block:nth-child(2) {
    z-index: 2;
}

.motion_block:nth-child(3) {
    z-index: 1;
}

.motion_meta {
    position: absolute;
    left: 2rem;
    top: 20rem;
    z-index: 10;
    overflow: hidden;
}

h2 {
    color: white;
    text-transform: uppercase;

}

.motion_tags {
    overflow: hidden;
    margin-left: 2vw;
    text-transform: uppercase;
    color: white;
    display: flex;
    gap: 1vw;
}

.motion_stage {
    position: absolute;
    width: 100%;
    height: 100vh;

}

.motion_media {
    position: relative;
    width: inherit;
    height: inherit;
    overflow: hidden;
}

.motion_media img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.motion_previews{
    position:absolute;
    top: 0;
    right: 4rem;
    display: flex;
    flex-direction: column;
    gap: 8rem;
    z-index: 10;
}
.motion_previews img{
    position: relative;
    width: 50rem;
    height: 50rem;
    object-fit: cover;
}

.motion_manifesto{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.motion_manifesto_line{
        overflow: hidden;
}